<div>
    <h2 class="user-message">Welcome {{firstName}}!</h2><br>
    <header class="main-header">
        <nav class="main-nav nav">
            <ul>
                <li><a href="/coaches">Coaches</a></li>
                <li><a href="/store">Store</a></li>
                <li><a href="/mycourses">My Courses</a></li>
                <li><a href="/api">Rest API</a></li>
                <li><a>
                        <form action="/logout?_method=DELETE" method="POST">
                            <button type="submit" class="btn-logout">Log out</button>
                        </form>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="container content-section">
            {{#each data}}
                <div class="shop-items">
                    <div class="shop-item">
                        <span class="shop-item-title">{{this.courseName}}</span>
                        <p><img src="/images/{{this.courseName}}1.jpg"></p>
                        <p>Coach: {{this.courseInstructor}}</p>
                        <p>{{this.courseDescription}}</p>
                        <p class="shop-item-price">USD ${{this.coursePrice}}</p>
                        <form action="/store" method="post">
                            <input type="hidden" class="form-control" name="courseName" value="{{this.courseName}}"></input>
                            <input type="hidden" class="form-control" name="coursePrice" value="{{this.coursePrice}}"></input>
                            <input type="hidden" class="form-control" name="courseInstructor" value="{{this.courseInstructor}}"></input>
                            <input type="hidden" class="form-control" name="courseDescription" value="{{this.courseDescription}}"></input>
                            <input type="hidden" class="form-control" name="courseVideo" value="{{this.courseVideo}}"></input>
                            <input type="hidden" class="form-control" name="userID" value="{{userID}}"></input>
                            <button class="btn btn-primary shop-item-button" type="submit">ADD TO CART</button>
                        </form>
                    </div>
                    
                </div>
            {{/each}}
    </section>
    <section class="container content-section">
        <h2 class="section-header">CART{{courseNames}}</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
        </div>
        <div class="cart-items">
            {{#each courseList }}
                <div class="cart-items-div cart-item">
                    <h3>{{courseName}}</h3> 
                </div>
                <div class="cart-items-div-price cart-price">
                    <h3>{{coursePrice}}</h3> 
                </div><br>
            {{/each}}
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">${{priceTotal}}</span>
        </div>
        <form action="/mycourses" method="post">
            <input type="hidden" class="form-control" name="priceTotal" value="{{priceTotal}}"></input>
            <button class="btn btn-primary btn-purchase" type="submit">PURCHASE</button>
        </form>
        
    </section>

</div>